{% extends "modeladmin/inspect.html" %}
{% load i18n modeladmin_tags wagtailadmin_tags upload_tags static %}

{% block content %}
    {% block header %}
        {% include "wagtailadmin/shared/header_with_locale_selector.html" with title=report_title subtitle=report_subtitle icon='error' %}
    {% endblock %}

    <div>
        {% block content_main %}
            <div class="nice-padding">
                <p class="back">
                    <a href="{{ package_inspect_url }}">
                        {% icon name="arrow-left" class_name="default" %}
                        {% trans 'Back to package inspection' %}
                    </a>
                </p>
                <table class='listing'>
                    <thead>
                        <tr>
                            <th>{% trans 'Category' %}</th>
                            <th>{% trans 'Message' %}</th>
                            <th>{% trans 'Data' %}</th>
                            <th>{% trans 'Resolution action' %}</th>
                            <th>{% trans 'Resolution rationale' %}</th>
                            <th>{% trans 'Opinion' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vr in validation_results %}
                            <tr>
                                <td>{{ vr.get_category_display }}</td>
                                <td>{{ vr.message|default_if_none:'' }}</td>
                                <td><pre>{{ vr.data }}</pre></td>
                                <td>{{ vr.resolution.get_action_display }}</td>
                                <td>{{ vr.resolution.rationale|default_if_none:'' }}</td>
                                <td>
                                    {% include 'modeladmin/upload/package/error_resolution/item_resolution_opinion.html' with validation_result_id=vr.id guidance=vr.analysis.guidance opinion=vr.analysis.opinion %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="nice-padding">
                <a class="button button-secondary no" style='margin-bottom:10px;' target="_blank" href="/admin/upload/validationresult/create/?package_id={{ package_id }}&status=disapproved">
                    {% trans 'Add validation error' %}
                </a>
                <form method="POST" id="form-send-opinions">
                    {% csrf_token %}
                    <input type="hidden" name="package_id" value="{{ package_id }}"/> 
                    <button id="btn-send-opinions" onclick="saveOpinions();" class="button loading-mask">{% trans 'Send opinions' %}</button>
                </form>
            </div>

            <script type="text/javascript">
                $('#form-send-opinions').submit(
                    function(e){
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'upload:error_resolution' %}",
                            data: {
                                'scope': 'analyse',
                                'package_id': "{{ package_id }}",
                                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                            },
                            beforeSend: function(){
                                $('#btn-send-opinions').addClass('loading');
                            },
                            success: function(){
                                $('#btn-send-opinions').removeClass('loading');
                                window.location = "/admin/upload/package/";
                            },
                        });
                        e.preventDefault();
                    }
                );

                function saveOpinions(){                    
                    // Faz chamadas POST definidas em item_resolution_opinion.html para gravar cada uma das opiniões
                    error_res = document.querySelectorAll(`[id^="form-handle-error-resolution-opinion-"]`);
                    for (var i=0; i < error_res.length; i++){
                        error_res[i].requestSubmit();
                    }
                }
            </script>
        {% endblock %}
    </div>

    {% block footer %}
        {% if buttons %}
            <footer class="footer">
                <div class="footer__container">
                    {% for button in buttons %}
                        {% include "modeladmin/includes/button.html" %}
                    {% endfor %}
                </div>
            </footer>
        {% endif %}
    {% endblock %}

{% endblock %}
