{% extends "modeladmin/inspect.html" %}
{% load i18n modeladmin_tags wagtailadmin_tags %}

{% block fields_output %}
    {% if fields %}
        <h3>{% trans "Details" %}</h3>
        <dl>
            {% for field in fields %}
                <dt class="{{ field.type|lower }}">{{ field.label }}</dt>
                <dd>{{ field.value }}</dd>
            {% endfor %}
        </dl>
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}

    {% if missing_file %}
        <div class="nice-padding">
            <h3>{% trans "Missing file" %}</h3>
            <div class='help-block help-critical'>
                {{ missing_file }}
            </div>
        </div>
    {% endif %}

    {% if snippet %}
        <div class="nice-padding">
            <h3>{% trans "Snippet" %}</h3>
            <code style="display:block">
                <ol start="{{ row }}">
                    {% for line in snippet %}
                        <li>{{ line }}</li>
                    {% endfor %}
                </ol>
            </code>
        </div>
    {% endif %}

{% endblock %}