{% extends "modeladmin/inspect.html" %}
{% load i18n modeladmin_tags wagtailadmin_tags wagtailcore_tags %}

{% block fields_output %}
    {% if fields %}
        <h3>{% trans "Details" %}</h3>
        <dl>
            {% for field in fields %}
                <dt class="{{ field.type|lower }}">{{ field.label }}</dt>
                <dd>
                    {% if field.value.files %}
                        <ul>
                            {% for fi in field.value.files %}
                                <li>{{ fi }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ field.value }}
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="nice-padding">
        <h3>{% trans "Reports" %}</h3>
        <table class="listing">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Result</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class='title'><h2>{% trans "XML and/or DTD formation" %}</h2></td>
                    <td>
                    {% if validation_errors.xml_format_error %}
                        <span class='help-block help-critical'>{% trans "XML file has errors." %}</a></span>
                    {% else %}
                        {% if validation_errors.package_file_error %}
                            <span class='help-block help-info'>{% trans 'This validation has not been performed yet.' %}</span>
                        {% else %}
                            <span class='help-block help-info'>{% trans 'There are no errors.' %}</span>
                        {% endif %}
                    {% endif %}
                    </td>
                    <td>
                        {% if validation_errors.xml_format_error %}
                            <a href="{{ validation_errors.xml_format_error.0.inspect_url }}">{% trans 'See the XML and/or DTD Formation Report.' %}</a>
                        {% endif %}
                    </td>

                </tr>
                <tr>
                    <td class='title'><h2>{% trans "Digital assets and renditions" %}</h2></td>
                    <td>
                        {% if validation_errors.asset_error or validation_errors.rendition_error %}
                            <span class='help-block help-critical'>{% trans "Digital assets and/or renditions validation failed." %}</span>
                        {% else %}
                            {% if not validation_errors.package_file_error and not validation_errors.xml_format_error %}
                                <span class='help-block help-info'>{% trans 'There are no errors.' %}</span>
                            {% else %}
                                <span class='help-block help-info'>{% trans 'This validation has not been performed yet.' %}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if not validation_errors.package_file_error and not validation_errors.xml_format_error %}
                            <a href="{% url 'upload:validation_report' %}?package_id={{ package_id }}&category=asset-and-rendition-error">{% trans 'See the Digital Assets and Renditions Report.' %}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class='title'><h2>{% trans "Stylesheet" %}</h2></td>
                    <td>
                        <span class='help-block help-warning'>{% trans 'This report is not available yet.' %}</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class='title'><h2>{% trans "Individual content validation" %}</h2></td>
                    <td>
                        <span class='help-block help-warning'>{% trans 'This report is not available yet.' %}</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class='title'><h2>{% trans "Grouped content validation" %}</h2></td>
                    <td>
                        <span class='help-block help-warning'>{% trans 'This report is not available yet.' %}</span>
                    </td>
                    <td></td>
                </tr>    
                <tr>
                    <td class='title'><h2>{% trans "Quality analysis opinion" %}</h2></td>
                    <td>
                        {% if perms.upload.send_validation_error_resolution or perms.upload.analyse_validation_error_resolution %}
                            {% if status == 'pending-correction' %}
                                <span class="help-block help-critical">{% trans 'There are pending corrections.' %}</span>
                            {% endif %}
                            {% if status == 'accepted' %}
                                <span class="help-block help-info">{% trans 'Packaged has been accepted.' %}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if perms.upload.send_validation_error_resolution or perms.upload.analyse_validation_error_resolution %}
                            {% if status == 'accepted' or status == 'pending-correction' %}
                                <a href="{% url 'upload:error_resolution' %}?package_id={{ package_id }}&scope=report">{% trans 'See Quality Analysis Report.' %}</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="nice-padding">
        <h3>{% trans "Preview" %}</h3>
        {% for language in languages %}
            <a class="button is-small" target="_blank" href="{% url 'upload:preview_document' %}?package_id={{ package_id }}&language={{ language }}">{% trans "Preview HTML" %} ({{ language|title }})</a></p>
        {% endfor %}
        <a class="button" href="" disabled>{% trans "View XML" %}</a></p>
    </div>

    {% if status != 'rejected' and validation_errors %}
        <div class="nice-padding">
            <h3>{% trans "Actions" %}</h3>
            {% if perms.upload.send_validation_error_resolution %}
                {% if status == 'validated-with-errors' %}
                    <a class="button is-small" href="{% url 'upload:error_resolution' %}?package_id={{ package_id }}">{% trans 'Start Error Resolution' %}</a>
                {% endif %}
            {% endif %}

            {% if perms.upload.analyse_validation_error_resolution %}
                {% if status == 'quality-analysis' %}
                    <a class="button is-small" href="{% url 'upload:error_resolution' %}?scope=analyse&package_id={{ package_id }}">{% trans 'Analyse Error Resolution' %}</a>
                {% endif %}
                {% if status == 'accepted' %}
                    <a class="button is-small" href="">{% trans 'Conclude opinion' %}</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}

{% endblock %}