{% extends "modeladmin/inspect.html" %}
{% load i18n modeladmin_tags wagtailadmin_tags wagtailcore_tags %}

{% block fields_output %}
    {% if fields %}
        <h3>{% trans "Details" %}</h3>
        <dl>
            {% for field in fields %}
                <dt class="{{ field.type|lower }}">{{ field.label }}</dt>
                <dd>
                    {% if field.value.files %}
                        <ul>
                            {% for fi in field.value.files %}
                                <li>{{ fi }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ field.value }}
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}

    {% if category != 'generated-by-the-system' %}
    <div class="nice-padding">
        <h3>{% trans "Reports" %}</h3>
        <table class="listing">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Result</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class='title'><h2>{% trans "XML and/or DTD formation" %}</h2></td>
                    {% if not validation_results.xml_or_dtd %}
                        <td><span class='help-block help-warning'>{% trans 'This report is not available yet.' %}</span></td>
                        <td></td>
                    {% else %}
                        <td>
                            {% if validation_results.xml_or_dtd.status == 'disapproved' %}
                                <span class='help-block help-critical'>{% trans "XML file has errors." %}</a></span>
                            {% else %}
                                <span class='help-block help-info'>{% trans 'There are no errors.' %}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% trans 'See the XML and/or DTD Formation Report: ' %}
                            {% for x in validation_results.xml_or_dtd.xmls %}
                                <a href="{{ x.inspect_uri }}">XML {{ forloop.counter }}</a>
                                {% if not forloop.last %} | {% endif %}
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>

                <tr>
                    <td class='title'><h2>{% trans "Digital assets and renditions" %}</h2></td>
                    {% if not validation_results.asset_and_rendition %}
                        <td><span class='help-block help-warning'>{% trans 'This report is not available yet.' %}</span></td>
                        <td></td>
                    {% else %}
                        <td>
                            {% if validation_results.asset_and_rendition.status == 'disapproved' %}
                                <span class='help-block help-critical'>{% trans "Digital assets and/or renditions validation failed." %}</span>
                            {% else %}
                                <span class='help-block help-info'>{% trans 'There are no errors.' %}</span>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'upload:validation_report' %}?package_id={{ package_id }}&report=asset_and_rendition">{% trans 'See the Digital Assets and Renditions Report.' %}</a><td>
                    {% endif %}
                </tr>

                <tr>
                    <td class='title'><h2>{% trans "Stylesheet" %}</h2></td>
                    {% if not validation_results.stylesheet %}
                        <td><span class='help-block help-warning'>{% trans 'This report is not available yet.' %}</span></td>
                        <td></td>
                    {% else %}
                        <td>
                            {% if validation_results.stylesheet.status == 'disapproved' %}
                                <span class='help-block help-critical'>{% trans "Stylesheet validation failed." %}</span>
                            {% else %}
                                <span class='help-block help-info'>{% trans 'There are no errors.' %}</span>
                            {% endif %}
                        </td>
                        <td></td>
                    {% endif %}
                </tr>

                <tr>
                    <td class='title'><h2>{% trans "Individual content validation" %}</h2></td>
                    {% if not validation_results.individual_content %}
                        <td><span class='help-block help-warning'>{% trans 'This report is not available yet.' %}</span></td>
                        <td></td>
                    {% else %}
                        <td>
                            {% if validation_results.individual_content.status == 'disapproved' %}
                                <span class='help-block help-critical'>{% trans "Individual content validation failed." %}</span>
                            {% else %}
                                <span class='help-block help-info'>{% trans 'There are no errors.' %}</span>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'upload:validation_report' %}?package_id={{ package_id }}&report=individual_content">{% trans 'See the Individual Content Report.' %}</a></td>
                    {% endif %}
                </tr>
                
                <tr>
                    <td class='title'><h2>{% trans "Grouped content validation" %}</h2></td>
                    {% if not validation_results.grouped_content %}
                        <td><span class='help-block help-warning'>{% trans 'This report is not available yet.' %}</span></td>
                        <td></td>
                    {% else %}
                        <td>
                            {% if validation_results.grouped_content.status == 'disapproved' %}
                                <span class='help-block help-critical'>{% trans "Individual content validation failed." %}</span>
                            {% else %}
                                <span class='help-block help-info'>{% trans 'There are no errors.' %}</span>
                            {% endif %}
                        </td>
                        <td></td>
                    {% endif %}
                </tr>
                
                <tr>
                    <td class='title'><h2>{% trans "Quality analysis opinion" %}</h2></td>
                    {% if not validation_results.qa %}
                        <td><span class='help-block help-warning'>{% trans 'This report is not available yet.' %}</span></td>
                        <td></td>
                    {% else %}
                        <td>
                            {% if status == 'pending-correction' %}
                                <span class='help-block help-critical'>{% trans "There are pending corrections." %}</span>
                            {% else %}
                                <span class='help-block help-info'>{% trans 'Package has been accepted.' %}</span>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'upload:error_resolution' %}?package_id={{ package_id }}&scope=report">{% trans 'See Quality Analysis Report.' %}</a></td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
    
    {% if validation_results.xml_or_dtd.status == 'approved' %}
        {% include 'modeladmin/upload/package/inspect_buttons.html' %}
    {% endif %}

    {% include 'modeladmin/upload/package/inspect_buttons_download.html' %}

    {% if status == 'validated-with-errors' or status == 'quality-analysis' %}
        <div class="nice-padding row">
            <h3>{% trans "Actions" %}</h3>
            <div class="col2">
                {% if status == 'validated-with-errors' and perms.upload.send_validation_error_resolution %}
                    <a class="button is-small" href="{% url 'upload:error_resolution' %}?package_id={{ package_id }}">{% trans 'Start Error Resolution' %}</a>
                {% else %}
                    {% if status == 'quality-analysis' and perms.upload.analyse_validation_error_resolution %}
                        <a class="button is-small" href="{% url 'upload:error_resolution' %}?scope=analyse&package_id={{ package_id }}">{% trans 'Analyse Error Resolution' %}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}